body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: tan;
    color: white;
    background-image: url(../img/background-photo.jpeg);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.jumbotron {
    background-image: url(../img/header-photo.jpeg);
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

#j-header {
    font-size: 100px;
    
    font-family: Indie Flower;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#services {
    background-color: white;
    opacity: 0.65;
    height: 400px;
    color: black;
    border-radius: 20px;
}

#price {
    margin-top: 30px; 
    background-color: white;
    opacity: 0.65;
    height: 400px;
    color: black;
    border-radius: 20px;
}

#faqs {
    margin-top: 30px;
    background-color: white;
    opacity: 0.65;
    height: 400px;
    color: black;
    border-radius: 20px;
}
.section-heading {
    font-size: 90px;
    font-family: Indie Flower;
}


/*Log In Page*/

#sign-in-heading {
    font-size: 100px;
    font-family: Indie Flower;
    margin: auto;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#sign-in-subheading {
    font-size: 50px;
}

/*Forgot Password Page*/

#fp-subheading {
    font-size: 35px;
}

/*Notes*/



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footer {
    background-color: black;
    opacity: 0.5;
}

a {
    color: white !important;
}