@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "Our Story";
}
<div class="container" id="body-div">
    <div class="row">
        <div class="col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-2">
            <div class="form-title">
                <h2 id="sign-in-heading"><a href="/" style="text-decoration: none; color: white;">Scribbler</a></h2>
            </div>
        </div>
    </div>
</div>


<h2>Our Story:</h2>

<p>
    Bacon ipsum dolor amet cow beef meatloaf hamburger jerky boudin shoulder filet mignon fatback biltong ribeye beef ribs bacon jowl tongue. Prosciutto sirloin meatball kielbasa beef sausage. Burgdoggen turkey kielbasa swine pork loin fatback. Brisket turkey tenderloin turducken, drumstick pork bacon swine.
</p>

<p>
    Meatball salami drumstick tongue. Tri-tip pork tail, strip steak andouille short ribs sausage beef ribs landjaeger corned beef. Pork belly turkey swine beef sausage ham hock, salami sirloin flank t-bone rump tri-tip kevin. Strip steak pig brisket kevin doner.
</p>

<p>
    Tenderloin short ribs tail capicola short loin. Shank turkey pork belly pig, doner kielbasa rump. Corned beef tongue burgdoggen turkey. Ground round salami alcatra kielbasa. Beef ribs boudin cow, bacon shank pig picanha chuck capicola turducken flank cupim tail biltong. 
</p>

<p>
    Bresaola ribeye ham flank, short ribs sausage shank ham hock spare ribs tenderloin meatball beef tongue. Chuck kevin corned beef filet mignon cow shank pork loin salami. Swine jowl sirloin filet mignon, sausage cow ribeye strip steak andouille shank drumstick cupim capicola. Tail t-bone tenderloin kevin, meatloaf sirloin brisket chuck porchetta swine meatball. Jerky tail brisket ribeye pork belly pastrami prosciutto doner picanha. Bacon burgdoggen pork loin pork capicola. Jowl meatball leberkas, boudin salami cow chuck brisket.
</p>

<p>
    Leberkas meatloaf spare ribs ham t-bone. Chicken meatball alcatra shankle. Fatback salami porchetta, ham hock picanha ribeye ball tip bresaola swine turkey t-bone landjaeger pork belly. Pancetta jerky sausage pig ham bacon tri-tip boudin spare ribs kielbasa fatback.

    Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
</p>