@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "Contact";
}
<div class="container" id="body-div">
    <div class="row">
        <div class="col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-2">
            <div class="form-title">
                <h2 id="sign-in-heading"><a href="/" style="text-decoration: none; color: white;">Scribbler</a></h2>
            </div>
        </div>
    </div>
</div>

<h2>Contact:</h2>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>