@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="j-header">Scribbler</h1>
    <h3 class="lead">An easy to use app that securely stores any thoughts, or tasks a person or group might have!</h3>
</div>

<!--Services Section-->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Create</h4>
                <p class="text-muted">Have a thought about a topic? What about a task you need to remember? With Scribbler, you will never forget!</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-archive fa-stack-1x fa-inverse"></i>  
                </span>
                <h4 class="service-heading">Store</h4>
                <p class="text-muted">With Scribbler, as a user you are able to store anywhere from 100 to 1,000 notes right here on our servers. All you need to do is name your price!</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>  
                </span>
                <h4 class="service-heading">Secure</h4>
                <p class="text-muted" style="padding-right: 25px;">This application is protected using SSL encryption. All your data is safe in Microsoft Azure.</p>
            </div>
        </div>
    </div>
</section>

<!--Price Section-->
<section id="price">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Membership Rates</h2>
            </div>
        </div>
    <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-user fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Individual</h4>
            <p class="text-muted">Individual users gain access for only $2.99 per month! You can create and edit up to 100 notes!</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-id-card fa-stack-1x fa-inverse"></i>  
            </span>
            <h4 class="service-heading">Professional</h4>
            <p class="text-muted">Professional users can acess up to 250 notes for just $4.99 per month! You also gain the ability to order your notes from most least important.</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-users fa-stack-1x fa-inverse"></i>  
            </span>
            <h4 class="service-heading">Business</h4>
            <p class="text-muted" style="padding-right: 25px;">Create a group that can store up to 1,000 notes for our best price of $9.99 per month! Our service allows up to five users per group, and gives you the power of an administrator. Check out our free 30-day trial now!</p>
        </div>
    </div>
 </div>
</section>
<!--FAQ-->
<section id="faqs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frequently Asked Questions</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-calendar-check-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Q. Can I change plans at any point?</h4>
                <p class="text-muted">Yes. After you log-in to your dashboard you can upgrade/downgrade plans at any time. Your bill will be pro-rated in that case.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-credit-card-alt fa-stack-1x fa-inverse"></i>  
                </span>
                <h4 class="service-heading">Q. What Types of Payment Do You Accept?</h4>
                <p class="text-muted">We accept Visa, MasterCard, Discover and American Express. However, no PayPal, or checks accepted.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>  
                </span>
                <h4 class="service-heading">Q. Where can I contact you?</h4>
                <p class="text-muted">Send a tweet to @@ADRRSN</p>
            </div>
        </div>
    </div>
</section>
